# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
backend/output/diagram.coffee
backend/output/diagram.cs
backend/output/diagram.java
backend/output/diagram.js
backend/output/diagram.kt
backend/output/diagram.php
backend/output/diagram.py
backend/output/diagram.rb
backend/output/diagram.swift
backend/output/diagram.ts
backend/output/diagram.coffee
backend/output/diagram.cs
backend/output/diagram.java
backend/output/diagram.js
backend/output/diagram.kt
backend/output/diagram.php
backend/output/diagram.py
backend/output/diagram.rb
backend/output/diagram.swift
backend/output/diagram.ts
backend/diagram.puml
uploads/*
